#avatar-container {
  width: 100%;
  z-index: 1000;
  aspect-ratio: 4/3;
  position: relative;
  background-color: black;
}

#avatar {
  height: 100%;
  width: 100%;
}

#word {
  color: #ff0000;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  transform: translateX(-50%);
  bottom: 4px;
  left: 50%;
}
